* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
.wave {
    position: fixed;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
}
.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}
.img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.img img {
    width: 500px;
}
.login-container {
    display: flex;
    align-items: center;
    text-align: center;
}
form {
    width: 360px;
}
.avatar {
    width: 100px;
}
form h2 {
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: #333;
}
.input-div {
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;

}
.input-div.one{
    margin-top: 0;

}
.input-div.two{
    margin-top: 0;
    
}